body 
    { 
    font: 62.5%/1.5  "Verdana", "sans-serif"; 
    background: url() repeat; 
    color: #000000;     
    text-align:center; 
    display: flex;
    flex-direction: column;
    line-height: 1.3;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1%;
    padding: 1%;
    background-color: whitesmoke;
    color: #fff;
}

header nav 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul
{

}

header nav ul li
{
    /*How do I change direction and give them pop out buttons*/
    display: block;
    font-size: 4.2em; 
    padding: 1%;
    margin: 1%;
    color: #000000;
}

header nav ul li:hover
{
    color: #fff;
}
h1 
    { 
    font-size: 4.2em; 
    padding: 1%;
    margin: 1%;
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    color: #fff;
    font-size: 1.8em; 
    padding: 0.2%;
    margin: 0.2%;
} 

h3:hover
{
    color: greenyellow;
}
h4 
    { 
    font-size: 1.6em;     
} 
     
p 
    { 
    font-size: 2.0em;
    padding: 0.5%;
    margin: 0.5%;   
}