:root
{
    margin: 0;
    align-items: center;
    border: 0;

}
/*I feel overwhelmed by css*/
/*I only have class names here of thing I used, idk about the reset, I got it off the internet*/

#navBar_Image
{
    /*Top left, fits into the nav bar*/
}

nav
{
    /*does this come with preset attributes because its something like a keyword?*/
}

navList
{
    /*idk*/
}

navLink
{
    /*wish to also make these styled buttons*/
}

section
{
    /*Bar of text*/
}

subSection
{
    /*the text inside the Bar*/
}

myRepos
{
    /*A collection of repo tiles*/
    /*grid, flex horizontal*/
}

repos
{
    /*The tiles themselves I wish to add a thumbnail of somekind*/
}

contact
{
    /*just a container for aLinks?*/
}

alink
{
    /*contact links urls*/
}